.boton-inicio {
    margin-top: 47%;
}
.tamano {
    width: 350px;
}
.container-yt {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video-yt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #ffc300;
}

.img-clases {
    border-radius: 10px;
    border: 2px solid #ffc300;
}
@media (max-width: 768px) {
    .chao-texto {
        display: none;
    }
    .boton-inicio {
        margin-top: 40%;
    }
    .tamano {
        width: 100%;
    }
  }